.ProjectDetailsMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 1.5rem;
}

.ProjectDetailsMainContainer p {
  color: #767676;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.heading {
  font-size: 1.5rem;
  text-align: center;
  color: #7843e9;
}

.bottomLinks {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}

.bottomLinks a {
  color: inherit;
  text-decoration: none;
}

.bottomLinks span:hover {
  cursor: pointer;
}

.summary {
  font-size: 1.15rem;
  line-height: 1.9;
  color: #d1d1d1;
  max-width: 65ch;
  margin: 1.2rem auto 0;
  text-align: center;
}


@media only screen and (max-width: 1116px) {
  .ProjectDetailsMainContainer {
    width: 100%;
  }
}
