.contactSection {
  padding: 4rem 1.5rem;
  background: #fafafa;
}

.container {
  width: min(900px, 90%);
  margin: 0 auto;
}

.header {
  margin-bottom: 2.5rem;
}

.title {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  color: #7843e9;
  letter-spacing: 1px;
}

.subtitle {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0.3rem;
  color: #333;
}

/* Contact Icons */
.icon {
  color: #7843e9 !important;
  font-size: 2.1rem !important;
}

/* Cards container */
.cardsWrapper {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .title,
  .subtitle {
    text-align: left;
  }

  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}
