.imagecontainer {
  width: 100%;
  height: 380px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 4px 10px 26px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 10px 26px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 10px 26px 0px rgba(0, 0, 0, 0.75);
}

.imageContainer img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.scroll {
  object-position: bottom center;
}

.websiteimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 10s ease-in-out;
  
}


