.imageContainerWrapper:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .imageContainerWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 10px;
  }
  
  .imageContainerWrapper img {
    height: 70%;
    width: 100%;
  }
  


